data
*.csv
*.jpg
.ipynb_checkpoints
__pycache__
*.h5
*.pth
checkpoints
test_*.ipynb
lightning_logs
*.pt 
wandb
Lyft*
.vector_cache
*.ckpt
.vscode
*.rar
preds
submission
*tar.gz
GLC
*.zip
privithi